.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

span {
  width: 45%;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  min-height: 1.5rem;
  font: inherit;
}

/* button {
  align-self: flex-end;
  margin: 2rem
} */

.btnContainer {
  display: flex;
  align-self: flex-end;
}

.btnContainer button {
  margin: 1rem;
}
